/* Primary classes */

textarea, button, input {
    font-family: 'Lucida Console';
    font-size: 13px;
}

.root {
    font-family: 'Lucida Console';
    max-width: 800px;
    background-color: #ccd5dc;
    word-wrap: break-word;
}

.head{
    background-color: #003153;
    display: grid;
    padding: 10px 10px 10px 10px;
    grid-template-columns: 20% 60% 20%; 
}

.header {
    text-align: center;
    font-weight: bold;
    color: white;
}

/* home.js */

.layer-list-search {
    padding: 10px 10px 0px 10px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.layer-list-header {
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.layer-list-entry {
    border-top: solid;
    border-top-color: #ccd5dc;
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 20% 80%;
}

.left-ten {
    padding-left: 10px;
    display: grid;
    grid-template-columns: 100%; 
}

/* create.js */

.createWrapper{
    font-family: 'Lucida Console';
    max-width: 800px;
    background-color: #ccd5dc;
    word-wrap: break-word;
}

.layer-name-element{
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 20% 30% 30%; 
}

.field-section {
    padding: 10px 10px 10px 10px;
    border-top: solid;
    border-top-color: #003153;
}

.field-meta-section {
    display: grid;
    grid-template-columns: 20% 60%; 
}

.code-section {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.field-foot-section {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.form-foot-section {
    padding: 10px 10px 10px 10px;
    border-top: solid;
    border-top-color: #003153;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.invalid {
    background-color: #7f98a9;
    border-style: solid;
    border-width: 1px;
    border-color: #ccd5dc;
}

.valid {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #ccd5dc;
}

/* TEST */
#pc-root {
    max-width: 800px;
    background-color: #ccd5dc;
    font-family: 'Lucida Console';
}

#pc-header {
    background-color: #003153;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

#pc-form {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: 
        ". static-section static-section .";
}

#pc-form-static {
    grid-area: static-section;
    display: grid;
    grid-template-columns: 50% 50%;
}